<h1> Edit contact: </h1>

<% if @contact.errors.any? %>
   <div id="error_explanation">
     <h5><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h5>
  
     <ul>
     <% @contact.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>


<%= form_tag "/contacts/#{@contact.id}", method: :patch do %>
<%= render 'form' %>
  <br>
  <a href= "/contacts/<%=@contact.id%>">cancel</a>
  <br>
  <a href= "/contacts">cancel (back to all contacts)</a>
  <% end %>