<h1>Contact Information </h1>
<h2> <%= @contact.full_name %> </h2>
<p> Created <%= @contact.friendly_created_at %></p> 
<h4> <%= @contact.email %> </h4>
<h4> <%= @contact.japan_phone_code%> </h4>
<h4> <%= @contact.bio %> </h4>

<% if @contact.groups %>
<h4>Groups:</h4>
<% @contact.groups.each do |group| %>
<h4> <%= group.name %> </h4>
<% end %>
<% end %>

<div>
<a href="/contacts">Back to all contacts</a>
<br>
<a href="/contacts/<%= @contact.id %>/edit">Edit this contact</a>
</div>
<div>
<a href="/contacts/new">Create new contact</a>
</div>
<div>
  <%= link_to "Delete this contact", "/contacts/#{@contact.id}", method: :delete %>
</div>